__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
env/

.idea/
.vscode/

build/
dist/

cache/
sessions/
uploads/
diagnostics/
logs/

.huggingface/
.ollama/

*.wav
*.aac
*.pcm
*.tmp
*.part
*.zip

*.mp4
*.mkv
*.avi
*.mov

ffmpeg/

models/
checkpoints/

*.tmp.ddf
*.draft.ddf
temp_*.ddf

Thumbs.db
Desktop.ini
